/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Web Safe Fonts */

.arial{
  font-family: Arial, sans-serif;
}

.verdana{
  font-family: Verdana, sans-serif;
}

.helvetica{
  font-family: Helvetica, sans-serif;
}

.tahoma{
  font-family: Tahoma, sans-serif;
}

.trebuchet{
  font-family: 'Trebuchet MS', sans-serif;
}

.times{
  font-family: 'Times New Roman', serif;
}

.georgia{
  font-family: Georgia, serif;
}

.garamond{
  font-family: Garamond, serif;
}

.courier{
  font-family: 'Courier New', monospace;
}

.brush{
  font-family: 'Brush Script MT', cursive;
}

/* -- Fonts End -- */

/* -- Coustom Start -- */

.pointer{
  cursor: pointer;
}

#details{
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#details i{
  position: absolute;
  top: 1%;
  right: 1%;
}

#details .container{
  background-color: #9e9e9e;
}

i{
  cursor: pointer;
}

#cardType .pointer, #cardDate .pointer{
  background-color: #3f51b5;
}

#cardType, #cardId, #cardDate{
  text-align: center;
}

@media (min-width:768px){
  
  #details{
    background-color: #ffffffcb;
    border-bottom: none;
  }
  
  #cardType{
    text-align: start;
  }
  
  #cardDate{
    text-align: end;
  }

}