/* Web Safe Fonts */

.arial{
  font-family: Arial, sans-serif;
}

.verdana{
  font-family: Verdana, sans-serif;
}

.helvetica{
  font-family: Helvetica, sans-serif;
}

.tahoma{
  font-family: Tahoma, sans-serif;
}

.trebuchet{
  font-family: 'Trebuchet MS', sans-serif;
}

.times{
  font-family: 'Times New Roman', serif;
}

.georgia{
  font-family: Georgia, serif;
}

.garamond{
  font-family: Garamond, serif;
}

.courier{
  font-family: 'Courier New', monospace;
}

.brush{
  font-family: 'Brush Script MT', cursive;
}

/* -- Fonts End -- */

/* -- Coustom Start -- */

svg{
  cursor: pointer;
}

.tarjeta p{
  width: 95%;
}

.borrar{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5%;
  cursor: pointer;
  z-index: 10;
}